/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/
/* background-color: #F5F5F5; */
.container-fluid {
  background-color: #F5F5F5;
}

.header {
  h2 {
    color:lightslategrey;
    font-size: x-large;
    text-align: center;
    padding-bottom:10%;
  }
  .slogan {
    color: #CC5500;
    font-size: small;
    text-align: center;
    font-style: italic;
    font-family: "Lucida Handwriting";
    padding-bottom:1%;
  }
  .logo {
    max-height:50%; 
    max-width:50%;
    border-radius: 20%;
    padding: 5% 0% 5% 5%;
  }

}

.menu {
  [class*="col-"] {
    padding-bottom: 2%;
  }

  img {
    max-height:100%; 
    max-width:100%;
    border-radius: 20%;
    padding: 5% 0% 5% 5%;
  }

  h3 {
    color: black;
    font-size: medium;
    text-align: left;
    font-style: bold;
    padding-top: 5%;
  }

  h4 {
    color:gray;
    font-size: small;
    text-align: left;
    font-weight: 400;
  }

  .cost {
    font-size:small;
    font-style:normal;
    padding-bottom: 5%;
  }
  #button-pack {
    display: flex;
    justify-content: space-around;
  }
}

.cart {  
  padding-left: 2%;
  padding-bottom: 10%;
  font-size: medium;

  .generic-button {
    border-radius: 12px;
    height:65%;
    width:40%;
    line-height: 0em;
    font-size:small;
    border-color: gray;
    border-style: solid;
    padding: 0% 5% 0% 5%;
  }
  
  #close-button {
    line-height:normal;
    width:20%;
  }
  #close-button:hover {
    background-color: lightblue;
    transition:0.3s;
  }
  
  .button-containers {
    display: flex;
    justify-content: flex-end; 
    padding-right:5%;
  }

  #clear {
    width:60%;
  }

  #clear:hover {
    width:70%;
    background-color: lightblue;
    transition:0.3s;
  }
  #order {
    margin-right: 10%;
    width: 50%;
  }
  #order:hover {
    width:70%;
    background-color: lightblue;
    transition:0.3s;
  }

  #modal {
    white-space: pre;
  }

}